#App Environment
APP_ENV=

#SENTRY MONITORING DSN
EXPO_PUBLIC_SENTRY_DSN=

#Backend Routing
DEV_API_URL=
PROD_API_URL=

# Google Services files
GOOGLE_SERVICES_JSON_DEV=
GOOGLE_SERVICES_JSON_PROD=

#Firebase credentials : Production Mode
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=

#Firebase credentials : Development Mode
DEV_FIREBASE_API_KEY=
DEV_FIREBASE_AUTH_DOMAIN=
DEV_FIREBASE_PROJECT_ID=
DEV_FIREBASE_STORAGE_BUCKET=
DEV_FIREBASE_MESSAGING_SENDER_ID=
DEV_FIREBASE_APP_ID=
DEV_FIREBASE_MEASUREMENT_ID=